.inputComponent {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
}

.input {
  width: 288px;
  height: 1px;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  font-size: 12px;
  font-weight: 300;
  line-height: 13.2px;
  letter-spacing: -0.48px;

  &:focus {
    outline: none;
    border-bottom: 1px solid #FFBC17;
  }
}

.errorMessage{
  margin-top:6px;
  color:var(--red-100, #FF5050);
  font-size:12px;
  font-weight:500;
  line-height: 13.2px;
}

.approveMessage{
  margin-top:6px;
  color:var(--green-100, #1bb668);
  font-size:12px;
  font-weight:500;
  line-height: 13.2px;
}