.button {
  width: 243px;
  height: 38px;
  flex-shrink: 0;

  color: #000000;
  background: rgba(255, 188, 23, 0);
  border: 1px solid #e5e5e5;
  border-radius: 80px;
  transition:0.2s;

  &:hover,
  &:focus,
  &:active{
    background-color: var(--primary-color, #FFBC17);
    border-color: var(--primary-color, #FFBC17);
  }
}

.active {
  background-color: var(--primary-color, #FFBC17);
}
