.button {
  width: 243px;
  height: 38px;

  color: var(--black);
  border: 1px solid var(--gray-custom-300);
  background-color: var(--white);
  border-radius: 80px;

  &:active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  &:focus {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: 700;
  }
  &:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
