.NavList {
  /* font-md-light */
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-custom-600);

  padding: 24px 0;
  button {
    margin: 0;
    background-color: transparent;
    border: none;
  }
  img {
    width: 18px;
    height: 18px;
  }
}
