// Mixin

body {
  user-select: none;
}

.findPassword  {
  margin-left: 5px; // 임시

  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    color: var(--black, #000);

    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 12px;
  }

  p {
    color: var(--gray-600, #919191);

    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 13.2px;

    letter-spacing: -0.48px;
  }
}

.successMessage {
  margin: 1rem;
}


