@import './../utils/theme';
@import './../utils/utils';

#page {
  height: 60vh;
}

.wrapComponent {
  .title {
    h2 {
      @include font-style(18px, 600, $--black);

      margin-bottom: 12px;
    }

    p {
      @include font-style(12px, 300, $--gray-600);

      letter-spacing: -0.48px;
      margin-top: 10px;
    }
  }
}

.successMessage {
  margin-top: 5rem;
}
