@import './../utils/theme';
@import './../utils/utils';

#page {
  height: 60vh;
}

.wrapComponent {
  .title {
    h2 {
      @include font-style(20px, 700, $--black);

      margin-bottom: 12px;
    }

    p {
      @include font-style(14px, 400, $--gray-custom-600);

      letter-spacing: -0.48px;
      margin-top:12px;
      line-height:1.4;
    }
  }
}

.successMessage {
  margin-top: 5rem;
}
