.top__title{
  margin-bottom:30px;
}

.top__title--big{
  font-size:20px;
  font-weight:700; //bold
}
.top__title--sm{
  margin-top:12px;
  font-size:14px;
  font-weight:500; //light
  color:var(--gray-custom-600, #919191);
  line-height:1.4;
}
form > div:nth-child(2){
  margin-bottom:0 !important;
}
.showPassword{
  display:block;
  margin-top:0;
  margin-bottom:30px;
  text-align:right;
}

button{
  display: block;
  margin: 0 auto;
}

.joinGroup{
  display: flex;
  justify-content: center;
  margin-top:50px;
  font-size:14px;
  font-weight:500; //light
  color:var(--gray-custom-600, #919191);
  
  a{
    text-decoration:none;
    color:var(--gray-custom-600, #919191);
  }

  .distinguished{
    display:inline-block;
    padding:0 16px;
  }
}

.redirecting{
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);

  .pop{
    position:absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    width:60%;
    max-width:280px;
    padding:30px;
    border-radius:10px;
    background:var(--white, #fff);
  }

  p{
    font-size:16px;
    font-weight:400;
    line-height:1.4;
    text-align:center;
  }
}
