@import './../utils/theme';
@import './../utils/utils';

button {
  margin: 0;
  background-color: transparent;
  border: none;
}

.wrapComponent {
  font-family: Pretendard;
  position: relative;

  .profile {
    display: flex;
    justify-content: space-between;
  }
  .profile__info {
    font-style: normal;
    line-height: normal;

    h2 {
      font-size: 18px;
      font-weight: 600;
    }
    .email {
      color: var(--gray-600, #919191);
      font-size: 14px;
      padding: 12px 0 18px 0;
    }

    .size {
      padding-bottom: 12px;
    }
    .personal__color {
    }
  }

  .img__container {
    position: relative;

    div {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid var(--gray-custom-600);
      z-index: -1;
    }
    .profile__img {
    }

    .camera__button {
      position: absolute;
      bottom: 25px;
      right: 3px;
      width: 21px;
      height: 21px;
      background-color: #d9d9d9;
      border: 2px solid var(--white);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .profile__change__popup {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 81px;
    border: 1px solid black;
    border-radius: 6px 6px 0 0;
    padding: 12px;
    background-color: white;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      h2 {
        font-size: 14px;
        font-weight: 600;
      }
    }

    li {
      margin: 20px 0;
      display: flex;
      gap: 5px;
      align-items: center;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      cursor: pointer;
    }

    &.active {
      visibility: visible;
    }
  }
}

// <div class={S.profile}>
// <div class={S.profile__info}>
//   <h2>고통받는_고길동동동</h2>
//   <p class={S.email}>gildong-go86@gmail.com</p>
//   <p class={S.size}>Size: 77 | L</p>
//   <p class={S.personal__color}>Personal color: 여름 쿨</p>
// </div>
// <img src="profile-image.png" alt="프로필 이미지" />
// </div>

.modal__outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.modal {
  border: 1px solid;
  width: 250px;
  height: 100px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
}
