@import './../utils/utils';
.wrapComponent {
  font-family: Pretendard;
  font-family: Pretendard;
  color: var(--black, #000);
  //padding: 30px 12px;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }

  .description {
    color: var(--gray-600, #919191);
    font-size: 12px;
    font-weight: 300;
    line-height: 110%; /* 13.2px */
    letter-spacing: -0.48px;
    padding-top: 12px;
  }

  .ootd__info {
    color: var(--gray-600, #919191);
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.48px;
    padding: 72px 0 30px 0;
  }

  .radio__container {
    width: 288px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray-custom-300);

    .mark {
      color: var(--primary-color);
    }

    .radio__inner {
      display: flex;
      align-items: center;
      gap: 32px;
      padding-top: 5px;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      input:focus-visible {
        outline: 2px solid black;
      }
    }
  }

  .registerInput {
    padding-top: 30px;
  }

  .select__container {
    width: 288px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray-custom-300);

    .select__title {
      padding-top: 30px;
      font-weight: 700;
    }
  }

  .policy__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    input:focus-visible {
      outline: 2px solid black;
    }

    div {
      display: flex;
      gap: 5px;
    }

    .policy__title {
      padding-top: 72px;
      color: var(--gray-600, #919191);
      font-size: 12px;
      font-weight: 300;
      line-height: 110%;
      letter-spacing: -0.48px;
    }

    .checkAll__title {
      font-size: 14px;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.56px;
    }
  }

  .button__container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type='radio']:checked {
  border: 2px solid var(--primary-color);
}
