@import '../../styles/utils/theme';
@import '../../styles/utils/utils';

.container {
  margin-top: 60px;

  .title {
    @include font-style(18px, 600, $--black);

    margin: 30px 0 14px;
  }

  .outfitContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    .outfitImage {
      max-width: 100%;
      max-height: 400px; // 임시
      height: auto;
      object-fit: contain;
    }
  }

  .productContainer {
    margin-top: 27px;

    .productTitle {
      margin-bottom: -77px;
    }
  }

  .btnContainer {
    margin-top: -53px;
  }
}
