.product__component {
  font-family: Pretendard;
  .product__title__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }

    button {
      font-size: 12px;
      width: 92px;
      height: 26px;
      margin: 0px;
      padding: 0 5px;
      background: var(--gray-100, #f5f5f5);
      border: 1px solid var(--gray-300, #bdbdbd);
    }

    .icon {
      color: var(--primary-color);
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding: 18px 0;
  }
  .recommend__container {
    padding-bottom: 18px;

    .recommend {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.48px;
      margin-left: 5px;
    }
  }
  .upper__section {
    margin-bottom: 30px;
  }
  .upper__section,
  .lower__section {
    display: flex;
    gap: 15px;
  }
}
