//나중에 수정
button {
  margin: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  button {
    width: 22%;
  }
}

.recommend {
  font-size: 12px;
}
.upper__section,
.lower__section {
  display: flex;
}

.card {
  width: 50px;
  height: 50px;
}
