.custom__calendar {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .calendar__tile {
    border-radius: 4px;
    &:hover {
      background-color: #eee;
    }
  }

  .calendar__tile--active {
    background-color: #007bff;
    color: white;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 300;
  }

  .btn {
    width: 55px;
    height: 22px;

    font-family: Pretendard;
    font-size: 12px;

    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0);

    &:hover {
      background: #e5e5e5;
    }
  }
}

.bookmark {
  color: var(--primary-color);
}

.statusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;

  p {
    margin: 0 20px;
  }
}

.arrow {
  border: none;
  background: transparent;
}

.BookmarkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
