.calendarWrapper {
  overflow: hidden;
  transition: height 0.5s ease;
}

.calendarWrapper.collapsed {
  height: 0;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25%;
  }

  .btn {
    width: 55px;
    height: 22px;

    font-family: Pretendard;
    font-size: 11px;

    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0);

    &:hover {
      background: #e5e5e5;
    }
  }
}

.bookmark {
  color: var(--primary-color);
}

.statusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;

  p {
    margin: 0 20px;
  }
}

.arrow {
  border: none;
  background: transparent;
}

.BookmarkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
