:root {
  --white: #fff;
  --black: #000;

  --gray-50: #f3f3f4;
  --gray-100: #e5e6e8;
  --gray-200: #cbcdd1;
  --gray-300: #b1b4ba;
  --gray-400: #979ba3;
  --gray-500: #7d828c;
  --gray-600: #646870;
  --gray-700: #4b4e54;
  --gray-800: #323438;
  --gray-900: #1F1F1F;
  --gray-950: #0d0d0e;

  --accent-color: #440fbf;

  --background: var(--gray-900);
  --forground: var(--gray-50);
  --border-color: var(--gray-700);
  --border-thickness: 0.5px;

  --rounded-none: 0;
  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-full: 9999px;
}