.a11yHidden,
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  &.focusable:focus {
    overflow: initial;
    position: static;
    clip: auto;
    clip-path: unset;
    width: initial;
    height: initial;
    margin: initial;
    white-space: initial;
  }
}

// 모든 페이지 공통 - 콘텐츠 가운데 래핑
.wrapComponent{
  width:320px;
  margin:0 auto;
  padding: 90px 0 100px;
}