@import './../../styles/utils/theme';
@import './../../styles/utils/utils';

.checkbox__container {
  font-family: Pretendard;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 5px;
  }

  label,
  span {
    @include font-style(14px, 400, $--gray-custom-600);
    letter-spacing: -0.48px;
  }

  .chevron__right {
    width: 14px;
    height: 14px;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}
