.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.modalContent {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 230px;
  width: 90%;
  h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: normal;
  }
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
  margin-top: 20px;
}

.secondButton,
.firstButton {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.secondButton:hover,
.firstButton:hover {
  color: var(--primary-color);
}
